EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=MyGoogleWebClientId.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=MyGoogleAndroidClientId.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=MyGoogleIosClientId.apps.googleusercontent.com
EXPO_PUBLIC_APP_URL=examo:// #Different for production
EXPO_PUBLIC_API_BASE_URL=http://192.168.0.61:8080